---
import WebLayout from "../layouts/WebLayout.astro";


---


<WebLayout language="fr" title="KERCHAK">
    <section class="hero">
        <div class="hero-container">
          <h2></h2>
    <section/>
    <video autoplay muted loop src="/second-spectrum/public/Assets/tantor.mp4"></video>
<!-- <div class="video-container"> 
    <video controls>
        <source src="/second-spectrum/public/Assets/tantor.mp4" type="video/mp4">
    </video>-->
    
<iframe width="560" height="315" src="https://www.youtube.com/embed/MxlBtd_pYl4?si=q2ca0duVXBEVOw0K" frameborder="0" ></iframe>

  <link rel="icon" type="image/png" href="../../public/Assets/icon.svg">
  <div class="container">
    <img src="" alt="">
</div>




</WebLayout>