---
import WebLayout from "../layouts/WebLayout.astro";


---


<WebLayout language="fr" title="KERCHAK">

    <section class="hero">
        <div class="hero-container">
          <h2>Bienvenue sur Ker Musique</h2>
          <p>Découvrez les sons exclusifs de vos artistes préférés.</p>
          <a href="https://www.youtube.com/@KerchakOfficiel/featured" class="btn-cta">Écouter Kerchak</a>
        </div>
        <div>
          <p>
          </p>
        </div>
        <div>
        </div>
      </section>
      <link rel="icon" type="image/png" href="../../public/Assets/icon.svg">

        
      </div>

</WebLayout>