---
import WebLayout from "../layouts/WebLayout.astro";


---


<WebLayout language="fr" title="KERCHAK">

  <section class="hero">
    <div class="hero-container">
      <h2></h2>
      <div class="containers">
        <h1>Kerchak, la nouvelle voix du rap en France</h1>
        <p class="intro">Né à Soisy-sous-Montmorency le 19 février 2004, le rappeur Kerchak grandit à Bois-Colombes dans le département des Hauts-de-Seine (92). Il se lance d’abord dans la musique sous le pseudonyme Zolal et attire l’attention avec une série de freestyles nommés Gorille, qui fédèrent des dizaines de milliers de vues sur les réseaux sociaux. Deux ans plus tard, le rappeur masqué a choisi de changer de nom et se fait désormais appeler Kerchak, en référence au chef du clan des gorilles dans Tarzan. Seulement âgé de 18 ans, il est alors considéré comme l’un des principaux espoirs du courant en vogue dans l’Hexagone : la Jersey drill, venue du Royaume-Uni. Avec le titre « Sabor », il signe un coup d’éclat qui lui permet d’élargir considérablement sa base de fans sur les réseaux sociaux et de faire connaître son flow rapide, technique et rythmé.

          À la fin de l’année 2022, il publie son premier projet du nom de Confiance, qui se hisse aussitôt à la huitième place des charts français grâce à ses quatorze titres, dont des duos avec Favé (« Génération miracle »), Ziak (« Peur ») ou encore Bandmanrill (« Percer »). Fin 2023, sans effet d'annonce, il sort l'EP En Attendant Saison 2, qui indique la sortie imminente d'un album. Effectivement, en janvier 2024, Kerchak sort la mixtape Saison 2 qui accueille les invités Dinos, Gambi, Houdi, RnBoi et Ziak. « T'aimerais », enregistré avec ce dernier, est choisi comme premier émissaire du disque.</p>
    </div>
  </section>
  <link rel="icon" type="image/png" href="../../public/Assets/icon.svg">
  <div class="container">
    <img src="" alt="">
  </div>



</WebLayout>