---
import WebLayout from "../layouts/WebLayout.astro";


---


<WebLayout language="fr" title="KERCHAK">

  <section class="hero">
    <div class="hero-container">
      <h2></h2>
      <p></p>
      <div class="container">
  </div>
  <div class="carre-container">
    <div class="carre">
      <img class="img-vo" src="Assets/featleo.png" alt=" ">
      <div class="info">
          <p>Jymmy hendrix</p>
          <p>Kerchak Feat: Leostaydrill</p>
          <audio controls>
            <source src="/Assets/jimi.mp3">
          </audio>
      </div>
    </div>
    <div class="carre">
      <img class="img-vo" src="Assets/play.png" alt=" ">
      <div class="info">
          <p>Play</p>
          <p>Kerchak</p>
          <audio controls>
            <source src="/Assets/play.mp3">
          </audio>
      </div>
    </div>
    <div class="carre">
      <img class="img-vo" src="Assets/sentiment.png" alt=" ">
      <div class="info">
          <p>Sentiment</p>
          <p>Kerchak</p>
          <audio controls>
            <source src="/Assets/sentiments.mp3">
          </audio>
      </div>
    </div>
    <div class="carre">
      <img class="img-vo" src="Assets/cam.png" alt=" ">
      <div class="info">
          <p>Cam</p>
          <p>Kerchak</p>
          <audio controls>
            <source src="/Assets/cam.mp3">
          </audio>
      </div>
    </div>
    <div class="carre">
      <img class="img-vo" src="Assets/matata.png" alt=" ">
      <div class="info">
          <p>Matata</p>
          <p>Vegedream Feat: Kaaris, Kerchak</p>
          <audio controls>
            <source src="/Assets/matata.mp3">
          </audio>
      </div>
    </div>
    <div class="carre">
      <img class="img-vo" src="Assets/BC.png" alt=" ">
      <div class="info">
          <p> Freestyle Bois-Colombes (92)</p>
          <p>Kerchak Feat: Jolagreen23, Buu, Mitch, Ydasevic & Kabbsky </p>
          <audio controls>
            <source src="/Assets/bc.mp3">
          </audio>
      </div>
    </div>


  
  </div>
  </section>
<link rel="icon" type="image/png" href="../../public/Assets/icon.svg">



</WebLayout>