---
import WebLayout from "../layouts/WebLayout.astro";


---

<WebLayout language="fr" title="KERCHAK">
    <section class="hero">
         <div class="hero-container">
     <h2></h2>
<section/>

</WebLayout>