
<header>

    <div class="logo">
      <img src="/Assets/Ker.png" alt="Logo du site">
    </div>
    <nav>
      <ul>
        <li><a href="/home.html">Accueil</a></li>
        <li><a href="/musique.html">Musique</a></li>
        <li><a href="/exclu.html">Exclu</a></li>
        <li><a href="/kerchak.html">Kerchak</a></li>
      </ul>
    </nav>
    <div class="cta">
      <a href="/platforme.html" class="btn">Plateforme</a>
    </div>
  </header>
  
